# Exclude nix inputs files because it includes private inputs.
nix/inputs.nix

.config/qutebrowser/bookmarks
.config/qutebrowser/quickmarks
.config/qutebrowser/qutebrowser
.config/qutebrowser/qsettings
.config/nvim/plugged
**/__pycache__/

# Exclude parsers downloaded by treesitter
.config/nvim/treesitter_parsers/**/*
